<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Registration Form </title>
</head>
<body>
<form th:action="@{/api/process_register}" th:object="${user}" method="post">
    <div><label> Email : <input type="text" name="email"/> </label></div>
    <div><label> Password : <input type="password" name="password"/> </label></div>
    <div><label> First Name : <input type="text" name="firstName"/> </label></div>
    <div><label> Last Name: <input type="text" name="lastName"/> </label></div>
    <div><input type="submit" value="Sign Up"/></div>
</form>
</body>
</html>